<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3afed81f0c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../static/js/main.js" defer></script>

    <title> WESELL: CONFIRM </title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <a href="/"><img src="../static/img/horizontal_on_white_by_logaster.png" ></a>
        </div>

        <ul class="navbar__menu">
            <li><a href="/"> HOME </a></li>
            <li><a href="./notice"> NOTICE </a></li>
            <li><a href="./service"> SERVICE </a></li>
            <li><a href="./dashboard"> DASHBOARD </a></li>
        </ul>

        <ul class="navbar__icons">
            <li><a href="./login"> LOGIN </a></li>
            <li><a href={{ url_for('logout') }}> LOGOUT </a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>

        <a href="#" class="navbar__toglebtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <main>
        <section class="login-form">
            <div class="mainpage">
                <form name = "login2factor" action="/confirm" method="POST" enctype="multipart/form-data" style="color:white;">
                    <a style="text-align: center; padding-top: 10px;" href="#"><img src="../static/img/horizontal_on_white_by_logaster.png" alt=""></a>
                    

                    <h1> <a href="#" style="color: black;"> CERTIFICATION </a></h1>

                    <input type = "text" name="certification_num" id="certification_num">
                    <span id="timer" style="color:red;"></span>
                    {% with messages = get_flashed_messages() %} <!--파이썬에 값을 받아서 html에 출력가능.-->
                    {% if messages %}
                        <div class="alert">
                            {% for mes in messages %}
                            {{ mes }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                    <div class="btn-area" >
                        <button type="submit" style='cursor:pointer;' onclick="location.href='/confirm' "> 인증번호 확인 </button>
                    </div> 
                </form>  

                <div class="btn-area">
                    <button style='cursor:pointer;' onclick="location.href='/regist' "> 뒤로가기 </button>
                </div>
                <br><br>
            </div>
        </section>
    </main>

    <footer>
        <div class="notice_box">
        </div>
        <div class="aside_box">
            <div class="area_user">
                <div class="area_user_row">
                    <span class="text_bold-13"> Project </span>
                    <ul>
                        <li><a href="/"> WESELL: </a></li>
                    </ul>
                </div>
                <div class="area_user_row">
                    <span class="text_bold-13"> People </span>
                    <ul>
                        <li><a href="https://github.com/vkekd25"> <i class="fa-brands fa-github"></i> 병우 </a></li>
                        <li><a href="https://github.com/lyj7518"> <i class="fa-brands fa-github"></i> 유진 </a></li>
                        <li><a href="https://github.com/grewtree"> <i class="fa-brands fa-github"></i> 창수 </a></li>
                        <li><a href="https://github.com/Daj21"> <i class="fa-brands fa-github"></i> 다정 </a></li>
                        <li><a href="https://github.com/woals182"> <i class="fa-brands fa-github"></i> 재민 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_box">
            <ul>
              <li><a href="/">제휴제안</a></li>
              <li><a href="/">이용약관</a></li>
              <li><a href="/">개인정보처리방침</a></li>
              <li><a href="/">고객센터</a></li>
              <li><a href="/">&copy; WESELL.</a></li>
            </ul>
          </div>
    </footer>

</body>

<script>

    // 타이머 구현_daldal
    function $ComTimer(){
        //prototype extend
    }
    
    $ComTimer.prototype = {
        comSecond : ""
        , fnCallback : function(){}
        , timer : ""
        , domId : ""
        , fnTimer : function(){
            var m = Math.floor(this.comSecond / 60) + "분 " + (this.comSecond % 60) + "초";	// 남은 시간 계산
            this.comSecond--;					// 1초씩 감소
            console.log(m);
            this.domId.innerText = m;
            if (this.comSecond < 0) {			// 시간이 종료 되었으면..
                clearInterval(this.timer);		// 타이머 해제
                alert("인증시간이 초과하였습니다. 다시 인증해주시기 바랍니다.");
                window.close();
                window.opener.location = "/index.do"
            }
        }
        ,fnStop : function(){
            clearInterval(this.timer);
        }
    }
    var AuthTimer = new $ComTimer()
    AuthTimer.comSecond = 300; // 제한 시간
    AuthTimer.fnCallback = function(){alert("다시인증을 시도해주세요.")}; // 제한 시간 만료 메세지
    AuthTimer.timer =  setInterval(function(){AuthTimer.fnTimer()},1000); 
    AuthTimer.domId = document.getElementById("timer"); 
    </script>

</html>