<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3afed81f0c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../static/js/main.js" defer></script>

    <title> WESELL: REGISTER </title>
</head>

<body>

    <nav class="navbar">
        <div class="navbar__logo">
            <a href="/"><img src="../static/img/horizontal_on_white_by_logaster.png" ></a>
        </div>

        <ul class="navbar__menu">
            <li><a href="/"> HOME </a></li>
            <li><a href="./notice"> NOTICE </a></li>
            <li><a href="./service"> SERVICE </a></li>
            <li><a href="./dashboard"> DASHBOARD </a></li>
        </ul>

        <ul class="navbar__icons">
            <li><a href="./login"> LOGIN </a></li>
            <li><a href={{ url_for('logout') }}> LOGOUT </a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>

        <a href="#" class="navbar__toglebtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
    
    <main>
        <section class="login-form">
            <div class="mainpage">
                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                    <a style="text-align: center;padding-top: 10px;" href="#"><img src="../static/img/horizontal_on_white_by_logaster.png" alt=""></a>
                
                    <h1> <a href="#" style="color: black;"> REGISTER </a></h1>
                
                    <div class="int-area">
                        <input type="text" name="id" id = "id"
                        autocomplete="off" value = "{{id}}" required>
                        <label for="id">USER ID</label>
                    <div class="int-area">
                        <input type="email" name="email" id = "email"
                        autocomplete="off" value = "{{email}}" required>
                        <label for="email">E-MAIL</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pw" id = "pw"
                        autocomplete="off" value = "{{pw}}" required>
                        <label for="id">PASSWORD</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pw2" id = "pw2"
                        autocomplete="off" value = "{{pw2}}" required>
                        <label for="id">PASSWORD CHECK</label>
                    </div>
    
                    {% with messages = get_flashed_messages() %} <!--파이썬에 값을 받아서 html에 출력가능.-->
                    {% if messages %}
                        <div class="alert">
                        {% for mes in messages %}
                        {{ mes }}
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
    
                </form>
                
                <div class="btn-area" >
                    <button style='cursor:pointer;' type="submit" onclick="clkBtn()"> 인증번호 발송 </button>
                </div>
            
        
                <div class="col-md-5" id="noneDiv" style="display:none;">
                    <form method="POST" autocomplete="off">
                    <div class="int-area">
                        <input type="text" name="confirmNum" id = "confirmNum"autocomplete="off" required>  
                        <label for="confirmNum"> 인증번호 </label>  
                        <div class="btn-area">
                            <button style='cursor:pointer;' type="submit"> 가입 하기 </button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="btn-area">
                    <button type="button" style='cursor:pointer;' onclick="location.href='./login' "> 로그인 </button>
                </div>

                <div class="btn-area">
                    <button type="button" style='cursor:pointer;' onclick="location.href='/' "> 홈 </button>
                </div>
                <br><br>
            </div>
        </section>
    </main>

    <footer>
        <div class="notice_box">
        </div>
        <div class="aside_box">
            <div class="area_user">
                <div class="area_user_row">
                    <span class="text_bold-13"> Project </span>
                    <ul>
                        <li><a href="/"> WESELL: </a></li>
                    </ul>
                </div>
                <div class="area_user_row">
                    <span class="text_bold-13"> People </span>
                    <ul>
                        <li><a href="https://github.com/vkekd25"> <i class="fa-brands fa-github"></i> 병우 </a></li>
                        <li><a href="https://github.com/lyj7518"> <i class="fa-brands fa-github"></i> 유진 </a></li>
                        <li><a href="https://github.com/grewtree"> <i class="fa-brands fa-github"></i> 창수 </a></li>
                        <li><a href="https://github.com/Daj21"> <i class="fa-brands fa-github"></i> 다정 </a></li>
                        <li><a href="https://github.com/woals182"> <i class="fa-brands fa-github"></i> 재민 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_box">
            <ul>
              <li><a href="/">제휴제안</a></li>
              <li><a href="/">이용약관</a></li>
              <li><a href="/">개인정보처리방침</a></li>
              <li><a href="/">고객센터</a></li>
              <li><a href="/">&copy; WESELL.</a></li>
            </ul>
          </div>
    </footer>

    <script type="text/javascript">
        // 버튼 클릭 시 실행
    function clkBtn(){

        $('#noneDiv').show();

        // Get form
        var form = $('#tmpSendFrm')[0];

        // Create an FormData object 
        var data = new FormData(form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: '/confirm',	// form을 전송할 실제 파일경로
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            beforeSend : function() {
                // 전송 전 실행 코드
            },
            success: function (data) {
                // 전송 후 성공 시 실행 코드
                console.log(data);
            },
            error: function (e) {
                // 전송 후 에러 발생 시 실행 코드
                console.log("ERROR : ", e);
            }
        });
    }
    </script>

</body>
</html>